.footer{
    cursor: default;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(68, 81, 92);
    color: white;


}    
.footer div{
    width: 25%;

    
}
.footer div h1{
    text-decoration: underline;
}
.footer div li{
    list-style: none;
    padding: 0;
}